.video {  
  position: relative;  
  overflow: hidden;  
}  

.video-element {  
  width: 100%;  
  height: auto;  
}  

.overlay {  
  position: absolute;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background-color: rgba(0, 0, 0, 0.5); 
  height: 850px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  color: white;

  .button-register{
    color: #fff;
    width: 140px;
    height: 45px;
    border: none;
    background: #0396FF;
    border-radius: 15px;

    &:hover{
      color: #0396FF;
      background: #fff;
      transition: 0.75s;
    }
  }
}  

.overlay-text {  
  font-size: 58px; 
  text-align: center; 
  width: 800px;
  font-weight: 800;
  line-height: 56px;
}
.date, .desc-text, .from-text {
  font-size: 24px;
}
.from-text{
   margin-bottom: 20px;
}