.admin {
  &__header {
    position: sticky;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    left: 0;
    top: 0;
    background: #fff;

    &-menu {
      height: 90px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 100px;

      a {
        margin-left: 20px;
      }

      .icon-header {
        font-size: 30px;
      }
    }
  }

  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    &-logo {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #ddd;
      padding: 10px 20px 10px 20px;
      margin-bottom: 20px;

      img {
        width: 166px;
        height: 70px;
      }

    }

    &-option {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 18px;
      color: #2F3032;
      padding: 10px 20px 10px 20px;
      margin-bottom: 2px;
      transition: all ease-in-out .2s;

      &-icon {
        font-size: 25px;
        margin-right: 10px;
      }

      &:hover {
        color: #0396FF;
        background: #E6F4FF;
        transition: all ease-in-out .2s;
      }
    }

    .active {
      color: #0396FF;
      background: #E6F4FF;
    }
  }
}